parameters:
  level: 6

  paths:
    - web/modules/custom
    - web/themes/custom

  treatPhpDocTypesAsCertain: true

  ignoreErrors:
    # Theme preprocess and *.theme edge cases
    - '#Function .* has parameter \$(variables|suggestions) with no value type specified in iterable type array#'
    - '#PHPDoc tag @var above a function has no effect#'
    - '#PHPDoc tag @var for variable \$variables has no value type specified in iterable type array#'

    # Drupal Form API inconsistencies
    - '#Parameter .*\$form (by-ref|@param-out) type of method .*submitForm.* expects array<string, mixed>, array given#'
    - '#Function .* has parameter \$form with no value type specified in iterable type array#'

    # PHPUnit "always true" assertions in test files
    - '#Call to method PHPUnit\\Framework\\Assert::assert.* will always evaluate to true#'

includes:
  # Let extension-installer handle this unless you're not using it
  # If you're NOT using extension-installer, you can re-enable:
  # - vendor/mglaman/phpstan-drupal/extension.neon
