parameters:
  level: 6

  paths:
    - web/modules/custom
    - web/themes/custom

  excludePaths:
    - '#^web/themes/custom/.*/node_modules/.*#'
    - '#^web/themes/custom/.*/node_modules/.*#'
    - '#^web/themes/custom/.*/vendor/.*#'
    - '#^web/themes/custom/.*/dist/.*#'
    - web/themes/custom/ui_suite_arsapps/node_modules

  reportUnmatchedIgnoredErrors: false

  bootstrapFiles:
    - vendor/autoload.php

  tmpDir: var/phpstan

  treatPhpDocTypesAsCertain: true

  ignoreErrors:
    # Theme preprocess and *.theme edge cases
    - '#Function .* has parameter \$(variables|suggestions) with no value type specified in iterable type array#'
    - '#PHPDoc tag @var above a function has no effect#'
    - '#PHPDoc tag @var for variable \$variables has no value type specified in iterable type array#'

    # Drupal Form API inconsistencies
    - '#Parameter .*\$form (by-ref|@param-out) type of method .*submitForm.* expects array<string, mixed>, array given#'
    - '#Function .* has parameter \$form with no value type specified in iterable type array#'

    # PHPUnit "always true" assertions in test files
    - '#Call to method PHPUnit\\Framework\\Assert::assert.* will always evaluate to true#'

includes:
   # Leave these commented if you're using extension-installer (recommended).
  # If you DISABLE the plugin later, uncomment both lines:
  # - vendor/mglaman/phpstan-drupal/extension.neon
  # - vendor/mglaman/phpstan-drupal/rules.neon
  # - vendor/phpstan/phpstan-deprecation-rules/rules.neon
